/* Introdução */

.introducao {
    background: url(../img/bg-cartas.svg) center no-repeat;
    background-size: cover;
    color: var(--amarelo);
    height: 500px;
    position: relative;
}

.introducao .titulo-principal {
    font-size: 86px;
    font-weight: bold;
    line-height: 80px;
    padding-top: 90px;
    text-align: center;
}

.introducao .titulo-principal::after {
    content: "";
    background: var(--amarelo);
    display: block;
    width: 120px;
    height: 3px;
    margin: 0 auto;
}

.introducao .descricao {
    font-size: 30px;
    margin-top: 35px;
    width: 435px;
    text-align: center;
    margin: 25px auto 0 auto;
}

.cartas {
    margin-top: 100px;
    margin-bottom: 50px;
}

.cartas .lista-cartas {
    list-style: none;
    display: flex;        
    justify-content: space-between;
    flex-wrap: wrap;    
}

.cartas .lista-cartas .item-carta {
    width: 280px;
    margin-bottom: 60px;
}

.cartas .lista-cartas .item-carta p {
    color: var(--amarelo);
    font-size: 20px;
    margin-bottom: 10px;
}

.cartas .lista-cartas .item-carta img {
    max-width: 100%;
}

.cartas .btn {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px auto 0 auto;
}

.quote-footer {
    background: url("../img/bg-quote-2.png") no-repeat center;
}